@font-face {
  font-family: "iconfont";
  src: url('/font/iconfont/iconfont.woff2') format('woff2'),
       url('/font/iconfont/iconfont.woff') format('woff'),
       url('/font/iconfont/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hangzhouxihu:before {
  content: "\e60a";
}

.icon-hangzhouxihu2:before {
  content: "\e67b";
}
